    <main class="container p-1">
        <!-- START DATA -->
        <div class="mb-3 mt-1 p-3 bg-body rounded shadow-sm">
            <div>
                <nav class="navbar navbar-expand navbar-light fixed-bottom p-2" style="background-color: #F1C27B;">
                    <ul class="navbar-nav nav-justified w-100">
                        <li class="nav-item">
                            <a href="/absen" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-clipboard2-check-fill" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Absen</strong></div>
                            </a>
                        </li>  
                        <li class="nav-item">
                            <a href="/buat-lhp" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-file-earmark-plus-fill" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Buat LHP</strong></div>
                            </a>
                        </li>                                                                
                        <li class="nav-item">
                            <a href="/profil" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-people-fill" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Lihat Profil</strong></div>
                            </a>
                        </li>                                                                                
                        <li class="nav-item">
                            <a href="/" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-house-fill" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Home</strong></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/data-absen" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-database-fill-check" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Lihat Absen</strong></div>
                            </a>
                        </li>                                                                                   
                        <li class="nav-item">
                            <a href="/lhp-pkd" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-database-fill-check" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Lihat LHP</strong></div>
                            </a>
                        </li>                                            
                        <li class="nav-item">
                            <a href="/jadwal-piket" style="color: #333333; text-decoration: none;">
                                <div>
                                    <i class="bi bi-calendar-check" style="font-size: 18px; color: #333333;"></i>
                                </div>
                                <div><strong>Jadwal Piket</strong></div>
                            </a>
                        </li>                                            
                    </ul>
                </nav>
            </div>